/* css for position, pointers etc...
 * 
 * NO COLOURS IN HERE, THEY ARE DEALT WITH BY THE JQUERY UI
 * 
 */

body{
	font-family:Arial;
	font-size:9.5pt;
}

h2 {
	font-size:13pt;
	font-weight:bold;
}

.genieResultButtons{
	display:none;
}

.tabs {
	display:none;
}

a {
	text-decoration:none;
	color:black;
}

pre.crime {
	font-family:Arial;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.genieCamera {display:none;}

.genieWarning {display:none;}

.genieAddress {display:none;}

table.genieData, table.wmpData {
	border-spacing: 2px;
	border-collapse: separate;	
}

table.genieData td, table.wmpData td {
	padding: 3px;
	border-bottom:1px solid black;
}

table.genieData thead th, table.wmpData thead th {
	background-color:white;
	color:black;
	font-weight:bold;
	border:1px solid black;
}	

